@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

:root{
  --font-base: 'Railway', sans-serif;
  --accent-color: #436270;
  /* --dark-void-color: #151419; */
  /* --glucon-grey: #1b1a1f; */
  /* --glucon-color: #262626; */
  /* --dusty-grey: #878787; */
  --dark-color: #464646;
  --light-grey: #f4f4f4;
  --white-color: #fbfbfb;
  --transition: all 300ms ease-in-out;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html{
  font-size: 10px;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-padding-top: 80px;
}

body{
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: var(--font-base);
  color: var(--dark-color);
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

a{
  color: unset;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
img{
  width: 100%;
  display: block;
}
button{
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.8rem;
}
input, textarea{
  outline: 0;
  border: none;
  resize: none;
}
h1, h2, h3, h4{
  line-height: 1.5;
  letter-spacing: 1px;
}